<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Order Column</label>
    <label lang="en">Order Column</label>
    <version>1.0.0</version>
    <author>Gabrijel Topic</author>
    <description lang="en">Order Column</description>
    <description lang="de">Order Column</description>
</plugin>